<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title"><%= @user.name %></h1>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">お仕事一覧</a></li>
      <li class="nav-item"><a href="#" class="nav-link">お気に入り企業</a></li>
      <li class="nav-item"><a href="#" class="nav-link">受けたお仕事</a></li>
      <li class="nav-item"><a href="#" class="nav-link">企業一覧</a></li>
    </ul>
    <%#<%= render 'companies/jobs', jobs: @jobs %>
  </div>
</div>