<% if logged_in? %>
  <div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <%#<h1 class="card-title"><%= current_user.name %><%#</h1>%>
      </div>
      <div class="card-body">
        <%#<img class="rounded img-fluid" src="<%= gravatar_url(current_user, { size: 500 }) %><%#" alt="">%>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">お仕事一覧</a></li>
      <li class="nav-item"><a href="#" class="nav-link">お気に入り企業</a></li>
      <li class="nav-item"><a href="#" class="nav-link">受けたお仕事</a></li>
      <li class="nav-item"><a href="#" class="nav-link">企業一覧</a></li>
    </ul>
  </div>
</div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1 class="text-uppercase text-muted font-weight-bold">お仕事マッチングサイト</h1>
    </div> 
  </div>
  <div class="container py-4">
    <div class="text-center">
      <%= link_to 'お仕事をご登録の企業様', new_company_path %>
    </div>
  </div>
  <div class="container py-4">
    <div class="text-center">
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>